<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://use.typekit.net/pxy3qnv.css">
    <link rel="stylesheet" type="text/css" src="/assets/style.css">
</head>

<body>
    {{{ body }}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
</body>

</html>