<div id="battle-container">
    <h1>Battle</h1>
    <div id="mb-health-container">
        <div id="message-board">
            <h2>
                Message Board
            </h2>
        </div>
        <div id="health">
            <h2>
                Health
            </h2>
        </div>
    </div>
    <br>
    <button id="attack-1-button">Attack #1</button>
    <button id="attack-2-button">Attack #2</button>
</div>

<div id="game-over-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Game Over</h2>
    </div>
</div>