<ul id="navbar">
    <li><a href="/home" class="nav-links">Home</a></li>
    <li><a href="#" class="nav-links">About Us</a></li>
    <li><a href="#" class="nav-links">Logout</a></li>
</ul>

<div id="battle-container">
    <h1>Battle</h1>
    <div id="mb-health-container">
        <div id="message-board">
            <h2>
                Message Board
            </h2>
        </div>
        <div id="health">
            <h2>
                Health
            </h2>
        </div>
    </div>
    <br>
    <button id="attack-1-button">Attack #1</button>
    <button id="attack-2-button">Attack #2</button>
</div>

<div id="game-over-modal">
    <div id="modal-content">
        <span id="close">&times;</span>
        <h2>Game Over</h2>
        <h3>You {{result}}.</h3>
        <p>Helpi nenii responde il pro. Sekve hebrea nul o, be des tria hebrea depost, do nun centi glota
            senobjekta. Ar
            sube kialo esperantigo kie, li unua tioma eca. Substantiva postpostmorgaŭ ien om, jo ind duono spite
            proksimumeco, peto kaŭze respondvorto de esk. Cit us viro landonomo, hav dz deci hodiaŭa solinfano.</p>
    </div>
</div>

</div>