<div id="character-select-container">
    <h1>Select Your Character</h1>
    <form action="Where is this data going to be sent to?">
        <label for="characters">Characters</label>
        <select name="characters" id="characters">
            <option value="?">Grant</option>
            <option value="?">Will</option>
            <option value="?">Baker</option>
            <option value="?">Hank</option>
        </select>
    </form>
    <br>
    <h2>Statistic #1: {{statistic-1}}</h2>
    <h2>Statistic #2: {{statistic-2}}</h2>
    <h2>Statistic #3: {{statistic-3}}</h2>
    <h2>Statistic #4: {{statistic-4}}</h2>
    <input type="submit" id="submit-character-selection" value="Begin Battle">
</div>
<link rel="stylesheet" type="text/css" href="assets/style.css" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/character-select.js"></script>
