<ul id="navbar">
    <li><a href="?" class="nav-links">Home</a></li>
    <li><a href="?" class="nav-links">About Us</a></li>
    <li><a href="?" class="nav-links">Logout</a></li>
</ul>
<div id="home-container">
    <h1>Homepage</h1>
    <br>
    <h2>Username: <span class="span">{{username}}</span></h2>
    <h2>Rank <span class="span">{{rank}}</span></h2>
    <h2>Score: <span class="span">{{score}}</span></h2>
    <br>
    <button id="battle-button">Battle</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>