<div id="home-container">
    <h1>Homepage</h1>
    <br>
    <h2>Name: {{name}}</h2>
    <h2>Rank {{rank}}</h2>
    <h2>Score: {{score}}</h2>
    <br>
    <button id="battle-button">Battle</button>
    <button id="signout-button">Signout</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</div>
    <link rel="stylesheet" type="text/css" href="assets/style.css" media="screen">
