<div id="login-container">
    <h1 id="login-header">Login Form</h1>
    <form class="login">
        <div id="username-login">
            <label class="label" for="username">Email</label>
            <input type="email" id="email-input" class="input" placeholder="Enter username here!">
        </div>
        <br>
        <div id="password-signup">
            <label class="label" for="password">Password</label>
            <input type="password" id="password-input" class="form-control" placeholder="Enter password here!">
        </div>
        <br>
        <button type="submit" id="submit-login">Log In</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>