<h1>Members' Information</h1>

<h2>Name: {{name}}</h2>

<h2>Rank: {{rank}}</h2>

<h2>Score: {{score}}</h2>

<br>

<div class="container">
    <a href="/battle-info">
    <button >Battle</button>
    </a>
</div>

{{!-- <h2>leadershipBoard</h2> --}}
<script src="/js/members.js"></script>