<h1>Members' Information</h1>

<h2>Name: {{name}}</h2>

<h2>Rank: {{rank}}</h2>

<h2>Score: {{score}}</h2>

<br>

<div class="container">
    <button>Battle</button>
</div>

{{!-- <h2>leadershipBoard</h2> --}}
<script src="members.js"></script>