<div id="results-container">
    <h1>Results</h1>
    <h2>Ranking: {{rank}}</h2>
    <h2>Total Wins: {{total-wins}}</h2>
    <h2>Total Losses: {{total-losses}}</h2>
    <button id="battle-button">Battle Again</button>
</div>