<ul id="navbar">
    <li><a href="/home" class="nav-links">Home</a></li>
    <li><a href="#" class="nav-links">About Us</a></li>
    <li><a href="#" class="nav-links">Logout</a></li>
</ul>

<div id="results-container">
    <h1>Results</h1>
    <h2>Ranking: {{rank}}</h2>
    <h2>Total Wins: {{total-wins}}</h2>
    <h2>Total Losses: {{total-losses}}</h2>
    <button id="battle-button">Battle Again</button>
</div>