<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="../../public/assets/style.css" media="screen">
    <link rel="stylesheet" href="https://use.typekit.net/pxy3qnv.css">
</head>

<body>
    <div id="welcome-page-container">
        <h1 id="welcome-header">Welcome to the Game</h1>
        <br>
        <a href="/" id="welcome-link-1">Signup</a>
        <a href="" id="welcome-link-2">Login</a>
    </div>
</body>

</html>

