<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" media="screen">

</head>

<body>
    <div id="welcome-page-container">
        <h1>Welcome to the Game</h1>
        <br>
        <a href="/" style="font-size: 1.5rem; padding-right: 1rem; font-weight: bold; text-decoration: none; color: black;">Signup</a>
        <a href="" style="font-size: 1.5rem; padding-left: 1rem; font-weight: bold; text-decoration: none; color: black;">Login</a>
    </div>
</body>

</html>