html {
  font-family: ccmonstermash, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}

p {
font-family: Josefin Sans;
font-size: .75rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.6rem;
}

#message-board-header {
  font-size: 2.5rem;
}

/* The container */
.container {
  display: block;
  position: right;
  padding-left: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: .75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: right;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: right;
  top: 0;
  left: 0;
  height: 12%;
  width: 33%;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}.span {
  font-size: 1rem;
  font-weight: 200;
}

#stat-1{
  color: #04BFBF;
}

#stat-2 {
  color: #F20587;
}

#stat-3 {
  color: #D98E04;
}

#stat-4 {
  color: #6732D9;
}

#stat-5 {
  color: #07732D;
}

#submit-character-selection {
  text-align: center;
  text-decoration: none;
  font-family: ccmonstermash, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  border-style: none;
  transition-duration: .15s;
  background-color: black;
  color: white;
}

#submit-character-selection:hover {
  font-size: 1.5rem;
}


#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  transition-duration: .15s;
}

li a:hover {
  font-size: 1.5rem;
}

#welcome-page-container {
  text-align: center;
  padding: 15%;
}

#welcome-page-links {
  text-align: center;
  display: inline-block;
}

#signup-container {
  text-align: center;
  padding: 5%;
}

#login-container {
  text-align: center;
  padding: 5%;
}

#home-container {
  text-align: center;
  padding: 5%;
}

#character-select-container {
  text-align: center;
  padding: 5%;
}

#battle-container {
  text-align: center;
  align-items: center;
  padding: 5%;
  width: auto;
}
#mb-health-container {
  display: inline-flex;
  flex-direction: row;
}

#results-container {
  text-align: center;
  padding: 5%;
}

#message-board {
  text-align: center;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  line-height: 2rem;
  border: white;
  border-style: solid;
}

#health {
  text-align: center;
  align-self: center;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  line-height: 2rem;
  border: white;
  border-style: solid;
}
  
button {
  text-align: center;
  text-decoration: none;
  font-family: ccmonstermash, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  border-style: none;
  transition-duration: .15s;
  background-color: black;
  color: white;
}

button:hover {
  font-size: 1.75rem;
}

#attack-1-button {
    color: #04BFBF;
}

#attack-2-button {
    color: #F20587;
}
  
.label {
  font-family: ccmonstermash, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
.input {
  font-family: itc-benguiat,serif;
  font-weight: 500;
  font-style: normal;
  background-color: black;
  color: white;
}

#game-over-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 1rem;
  border: .75rem solid yellow;
  width: 80%;
}

#close {
  color: purple;
  float: right;
  font-size: 1.5rem;
}

#close:hover,
#close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}