html {
  font-family: Josefin Sans;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#welcome-page-container {
  text-align: center;
  padding: 15%;
}

#welcome-page-links {
  text-align: center;
  display: inline-block;
}

#signup-container {
  text-align: center;
  padding: 5%;
}

#login-container {
  text-align: center;
  padding: 5%;
}

#home-container {
  text-align: center;
  padding: 5%;
}

#battle-container {
  text-align: center;
  align-items: center;
  padding: 5%;
  width: auto;
}
#mb-health-container {
  display: inline-flex;
  flex-direction: row;
}

#message-board {
  text-align: center;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  line-height: 2rem;
  border: black;
  border-style: solid;
}

#health {
  text-align: center;
  align-self: center;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  line-height: 2rem;
  border: black;
  border-style: solid;
}

#attack-1-button {
  background-color: white;
  color: black;
  font-weight: bold;
}

#attack-1-button:hover {
  background-color: black;
  color: white;
}

#attack-2-button {
  background-color: white;
  color: black;
  font-weight: bold;
}

#attack-2-button:hover {
  background-color: black;
  color: white;
}

button {
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  border-style: solid;
  border-color: black;
}

#submit-signup {
  background-color: white;
  color: black;
  font-weight: bold;
}

#submit-signup:hover {
  background-color: black;
  color: white;
  border-color: white;
}

#submit-login {
  background-color: white;
  color: black;
  font-weight: bold;
}

#submit-login:hover {
  background-color: black;
  color: white;
  border-color: white;
}

#battle-button {
  background-color: white;
  color: black;
  font-weight: bold;
}

#battle-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

#email-input {
  font-family: Josefin Sans;

}

#password-input {
  font-family: Josefin Sans;
}